## 625.603 Data Analysis Project
Ethan Chang, M.S Applied and Computational Mathematics @ JHU

echang54@jh.edu

**Data Description**

Data represents the time spent by fish guarding and fanning eggs in their nest. Each record represents the guarding and fanning activity for a single fish. Numerical values for guarding and fanning represent minutes performing that activity in a day. Each day, over two records, a different male and female are studied associated with the same nest. Ten fish of each gender are studied in each of four pH conditions. Treat pH and gender as nominally scaled. In R they 
can be set to nominal using as.factor(). These five scripted analysis tasks are an exercise in parsing the data appropriately. Remember, you can attach the data frame if you want to use the variable name without referencing the data frame.

In [9]:
import pandas as pd
import scipy.stats as sp
import statistics

In [5]:
df = pd.read_csv("fish.csv")
display(df)
print(df.describe())

     pH  Day Gender  Guarding  Fanning
0   7.0    1      M      48.5      3.0
1   7.0    1      F      26.9     65.6
2   7.0    2      M      54.8      0.7
3   7.0    2      F      24.2     62.8
4   7.0    3      M      50.9      6.0
..  ...  ...    ...       ...      ...
75  5.5    8      F      63.8     28.6
76  5.5    9      M      70.8      5.6
77  5.5    9      F      66.5     24.6
78  5.5   10      M      69.8      4.9
79  5.5   10      F      68.0     13.9

[80 rows x 5 columns]

              pH        Day   Guarding    Fanning
count  80.000000  80.000000  80.000000  80.000000
mean    6.250000   5.500000  53.565000  22.101250
std     0.562544   2.890403  14.240298  20.300436
min     5.500000   1.000000  24.200000   0.100000
25%     5.875000   3.000000  42.475000   4.050000
50%     6.250000   5.500000  53.950000  16.400000
75%     6.625000   8.000000  63.825000  38.200000
max     7.000000  10.000000  80.400000  65.600000

In [12]:
# t-test
tstat, pval = sp.ttest_ind(df.Guarding, df.Fanning)
print(tstat, pval)

11.348942918104656 3.294764450941705e-22