In [25]:
# Ethan Chang, M.S Applied and Computational Mathematics @ JHU
# echang54@jh.edu
# 10/15/2025
# Module 8 Discussion

# Dataset used:
# Question: 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

edu_data = pd.read_excel("tabn603.10.xls", skiprows=[0, 1, 4], header = 0)
edu_data.columns = pd.Series(edu_data.columns).replace(to_replace=r'^Unnamed.*', value=pd.NA, regex=True).ffill()

print(edu_data.head())
print(edu_data.info())
print(edu_data.columns)

                                Country                         2001  \
0                                   NaN  Total,\n 25 to 64 years old
1     OECD average\1\ .................                    64.206286
2        Australia ....................                    58.923858
3          Austria\2,3\ ...............                    75.724116
4      Belgium\2\ .....................                     58.52322

                 2001                         2005                2005  \
0  25 to 34 years old  Total,\n 25 to 64 years old  25 to 34 years old
1           73.990548                    72.796953           82.614356
2           70.712869                    65.032034            78.60998
3           83.326093                    80.592151           87.466102
4            75.32313                    66.096246           80.940819

                          2012      2012                2012      2012  \
0  Total,\n 25 to 64 years old       NaN  25 to 34 years old       NaN
1                    75.172478  0.034073           82.466321  0.065756
2                    76.436604  0.247817            86.62455  0.405646
3                    83.142487      0.24           88.614593       0.5
4                    71.643627  0.193306           81.918906  0.347499

                          2014      2014                2014      2014  \
0  Total,\n 25 to 64 years old       NaN  25 to 34 years old       NaN
1                    76.347568  0.034183           83.185813  0.066427
2                    77.104164  0.250759           86.719147  0.399588
3                    83.856003       0.2           90.020897      0.34
4                    73.550652   0.20671           82.273819   0.37704

                 2014      2014                2014      2014  \
0  35 to 44 years old       NaN  45 to 54 years old       NaN
1           80.251981  0.062341            74.24246  0.065566
2           82.260918  0.446089           71.204666   0.53353
3           86.132141      0.37           83.390129      0.34
4           80.439232   0.36765           72.361397   0.39205

                 2014      2014
0  55 to 64 years old       NaN
1            66.15319   0.07555
2           65.251266  0.598686
3           75.174553      0.48
4           58.682663   0.46264
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  61 non-null     object
 1   2001     47 non-null     object
 2   2001     47 non-null     object
 3   2005     47 non-null     object
 4   2005     46 non-null     object
 5   2012     47 non-null     object
 6   2012     46 non-null     object
 7   2012     47 non-null     object
 8   2012     46 non-null     object
 9   2014     47 non-null     object
 10  2014     46 non-null     object
 11  2014     47 non-null     object
 12  2014     46 non-null     object
 13  2014     47 non-null     object
 14  2014     46 non-null     object
 15  2014     47 non-null     object
 16  2014     46 non-null     object
 17  2014     47 non-null     object
 18  2014     46 non-null     object
dtypes: object(19)
memory usage: 10.4+ KB
None
Index(['Country',      2001,      2001,      2005,      2005,      2012,
            2012,      2012,      2012,      2014,      2014,      2014,
            2014,      2014,      2014,      2014,      2014,      2014,
            2014],
      dtype='object')